<div class="container-about d-flex align-items-center justify-content-between mt-5">
  <h3 class="mb-3">Despre noi</h3>
  <div class="container-information d-flex flex-column align-items-center">
    <div class="container-image">
      <img src="../assets/img/about-us.png" alt="despre noi">
     </div>
   <div class="container-info mb-5">
    <h5 class="mb-3">Cunoaște echipa noastră și valorile noastre</h5>
    <p>Suntem mândri să avem o echipă dedicată și profesionistă care își aduce contribuția la fiecare proiect de transport marfă pe care îl gestionăm.
      Ne definim prin valorile noastre fundamentale: integritate, siguranță și satisfacția clienților.</p>
   </div>
  </div>
</div>
