<!--
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
  <div class="grid gap-4">
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/1.jpeg" alt="image of our work">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/2.jpeg" alt="image of our work">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/3.jpeg" alt="image of our work">
      </div>
  </div>
  <div class="grid gap-4">
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/4.jpeg" alt="image of our work">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/5.jpeg" alt="image of our work">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/6.jpeg" alt="image of our work">
      </div>
  </div>
  <div class="grid gap-4">
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/7.jpeg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/8.jpeg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/9.jpeg" alt="">
      </div>
  </div>
  <div class="grid gap-4">
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/10.jpeg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/11.jpeg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="./assets/img/12.jpeg" alt="">
      </div>
  </div>
</div> -->

<div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6">
  <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Imagini</h2>
  <p class="max-w-prose mx-auto text-center mt-6 mb-8 text-lg leading-8 text-gray-600">Va oferim o privire vizuală captivantă asupra procesului nostru de încărcare
    și descărcare a mărfurilor, manipularea cu atenție și precizie a fiecărui articol și respectarea celor mai înalte
    standarde de siguranță</p>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="h-64">
      <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/1.jpeg"
        alt="image of our work">
    </div>
    <div class="h-64">
      <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/2.jpeg"
        alt="image of our work">
    </div>
    <div class="h-64">
      <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/3.jpeg"
        alt="image of our work">
    </div>
    <div class="h-64">
      <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/4.jpeg"
        alt="image of our work">
    </div>
    <div class="h-64">
      <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/5.jpeg"
        alt="image of our work">
    </div>
    <div class="h-64">
      <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/6.jpeg"
        alt="image of our work">
    </div>
    <div class="h-64">
      <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/10.jpeg" alt="">
    </div>
    <div class="h-64">
      <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/11.jpeg" alt="">
    </div>
    <div class="h-64">
      <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/12.jpeg" alt="">
    </div>
  </div>
</div>


<!--
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
  <div class="h-64">
    <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/1.jpeg" alt="image of our work">
  </div>
  <div class="h-64">
    <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/2.jpeg" alt="image of our work">
  </div>
  <div class="h-64">
    <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/3.jpeg" alt="image of our work">
  </div>
  <div class="h-64">
    <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/4.jpeg" alt="image of our work">
  </div>
  <div class="h-64">
    <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/5.jpeg" alt="image of our work">
  </div>
  <div class="h-64">
    <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/6.jpeg" alt="image of our work">
  </div>
  <div class="h-64">
    <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/10.jpeg" alt="">
  </div>
  <div class="h-64">
    <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/11.jpeg" alt="">
  </div>
  <div class="h-64">
    <img class="w-full h-full object-cover object-center rounded-lg" src="./assets/img/12.jpeg" alt="">
  </div>
</div> -->
