<div class="container-clients container-pages d-flex align-items-center justify-content-between mt-5">
  <div class="container-information d-flex flex-column align-items-center">
    <div class="container-info mb-5">
      <h3 class="mb-3">Clienti nostri</h3>
      <p>Clienții noștri sunt inima afacerii noastre și suntem mândri de parteneriatele pe care le-am construit de-a
        lungul timpului. Colaborăm cu o gamă variată de clienți, de la întreprinderi mici și până la corporații
        internaționale, oferindu-le soluții de transport marfă de încredere și personalizate.</p>
    </div>
    <div class="container-cards d-flex align-items-center justify-content-between">
      <mat-card class="example-card">
        <div class="container-image">
          <img src="../assets/img/barrier.png" alt="barrier logo">
        </div>
      </mat-card>

      <mat-card class="example-card">
        <div class="container-image">
          <img src="../assets/img/joysonquin.png" alt="joysonquin logo">
        </div>
      </mat-card>

      <mat-card class="example-card">
        <div class="container-image">
          <img src="../assets/img/tabihart.jpeg" alt="tabihart logo">
        </div>
      </mat-card>
    </div>
  </div>
</div>
