.container-clients {
  width: min(90%);
  margin-inline: auto;

  .container-information {
    width: 100%;
    margin: auto;
    margin-inline: auto;

    .container-cards {
      min-width: 50%;
    }

    .container-image {
      max-width: 11rem;
      img {
        width: 100%;
      }
    }
    .container-info {
      max-width: 30rem;
    }
  }
}
