<div class="container-presentation d-flex align-items-center justify-content-between mt-5">
  <div class="container-social"></div>
  <div class="container-information d-flex flex-column align-items-center">
   <div class="container-info mb-5">
    <h3 class="mb-3">Soluții rapide și eficiente pentru transportul mărfurilor tale</h3>
    <p>Suntem o firmă specializată în transportul mărfurilor, oferind soluții rapide, sigure și eficiente pentru nevoile tale</p>
   </div>
   <div class="container-image">
    <img src="../assets/img/presentation-vehicles.png" alt="presentation vehicles of the company">
   </div>
  </div>
  <div class="container-empty"></div>
</div>
<app-about-us></app-about-us>
